<div class="container">
  <div class="jumbotron">
    <h1>Contact Us</h1>
    <p> <%= image_tag "map.jpg", :size => "700x400"%><br>
	   <b>Contact Number:</b> (01) 458 9765<br>
	   <b>Fax Number: </b> 458 9764<br>
	   <b>Email: </b> stunesmusic@gmail.com<br>
	   <b>Address: </b><br>
						Dublin Institute of Technology,<br>
						Aungier Street,<br>
						Dublin 1 <br>
						Ireland<br>
		
	</p>
	
  </div> 
  
</div>