<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
 <body>
 
<h1>Welcome to S|TUNES <%= @user.name %>!</h1>
<p> You have successfully signed up and joined our team of reviewers. <br>
Now get out there and review the latest music.  </p>

<br>From the S|TUNES team.

 </body>
</html> 